modulo-xml/src/main/resources/xsd/siRecepEvento_v150.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- =====================================================================
     siRecepEvento_v150.xsd — WS Recepción de Evento SIFEN v150
     Fuente: Manual Técnico SIFEN v1.5.0, Sección 9.5
     Namespace: http://ekuatia.set.gov.py/sifen/xsd
     ===================================================================== -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           xmlns="http://ekuatia.set.gov.py/sifen/xsd"
           targetNamespace="http://ekuatia.set.gov.py/sifen/xsd">

    <xs:include schemaLocation="Evento_v150.xsd"/>

    <!-- Elemento raíz del mensaje de recepción de evento enviado a SIFEN -->
    <xs:element name="rEnviEvt" type="rEnviEvt"/>

    <xs:complexType name="rEnviEvt">
        <xs:sequence>
            <!-- Identificador correlativo de la transmisión (1..999) -->
            <xs:element name="dId" type="xs:integer"/>
            <!-- Fecha y hora de firma del envío -->
            <xs:element name="dFecFirma" type="xs:dateTime"/>
            <!-- RUC del firmante (emisor) -->
            <xs:element name="dRucEm">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="3"/>
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <!-- DV del RUC firmante -->
            <xs:element name="dDVEmi" type="xs:integer"/>
            <!-- Lista de eventos (máximo 250 por envío según manual) -->
            <xs:element name="gGroupGestE" type="tgGroupGestE" maxOccurs="250"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
